VITE_SUPABASE_URL=https://wfccrtuawdykgnurhznr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmY2NydHVhd2R5a2dudXJoem5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxNjUyMzAsImV4cCI6MjA5NTc0MTIzMH0.BY52epO3wgRFxTq2ThRyYA0AhqEUUS9gBWLV4-dqKzA
